@model MyChat.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
@section head{
    <link href="/Content/jquery.cssemoticons.css" rel="stylesheet" />
    <style>
        .emotion {
            font-size:20px;
        }
    </style>
    }
<div class="row-fluid">
    <div class="span8">
        <p class="emotion">
            Dedicated to my Love Cutie Pie! (she hates me :'( )
        </p>
        <p>
            Written in Asp.Net Mvc.<br />
            With help of<br />
            <span class="label">SignalR </span> for chat server.<br />
            <span class="label">Jquery</span> Client Side.<br />
            <span class="label">JsRender</span> for templating client ui.<br />
            <span class="label">Emotionize</span> for <span class="emotion"> :) :P :| 8O</span>. 
        </p>
        <p>
            
        </p>


    </div>
    <div class="span4">
<h2>Login</h2>

@using (Html.BeginForm()) {

    @Html.EditorForModel()
    <button>Login</button>
}
    </div>
    </div>
@section scripts{
    <script src="/Content/jquery-2.0.3.min.js"></script>
    <script src="/content/jquery.cssemoticons.min.js"></script>
    <script>$(function () { $('.emotion').emoticonize(); })</script>
    }

