@{
    ViewBag.Title = "Chat";
}
@section scripts { 

    <script id="ChatBox" type="text/x-jsrender">

        <div data-tabclose="{{:tab}}" id="tbb" >
            <div>
            <h5>{{:username}}
                <span data-tab="{{:tab}}" class="close chatc">x</span>
            </h5>
            <ul id="msg" class="msg ps-scrollbar" data-dd="{{:tab}}"></ul>
            </div>
            <div>
            <textarea placeholder="Enter some text !" data-id={{:tab}} data-user={{:username}} id={{:tab}} class="tm" ></textarea>
            <button class="send" data-user="{{:username}}" data-tab="{{:tab}}">send</button>
            </div>
        </div>
   
</script>
<script id="UserItem" type="text/x-jsrender">
    <li class="pm" id="{{:tabid}}" data-user="{{:username}}" >
        <span>{{:username}}</span>
        <input type="hidden" id="tab" value="{{:tabid}}">
        <input type="hidden" id="shown" data-tab="{{:tabid}}" value="{{:state}}"/>
    </li>
</script>
<script id="MessageItem" type="text/x-jsrender">
    <li class="{{:status}} last">
    <div class="msgcon {{:status1}}">{{:message}}</div>
    </li>
    
</script>
    <script src="/Scripts/jsrender.js"></script>
    <script src="/Scripts/jquery.cssemoticons.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.4.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/chat/chat.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.min.js"></script>
   
}
<link href="/Content/jquery.cssemoticons.css" rel="stylesheet" />
<link href="/Content/Chat.css" rel="stylesheet" />
<style>
   
</style>
<h2>Chat</h2>




<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
    width="40"
    height="40"
    id="audio1"
    align="middle">
    <embed src="/content/wavplayer.swf?gui=none&sound=/content/chat.wav"
        bgcolor="#ffffff"
        width="40"
        height="40"
        allowScriptAccess="always"
        type="application/x-shockwave-flash"
        pluginspage="http://www.macromedia.com/go/getflashplayer"
    />
</object>
<div id="Users">
 <div class="listHeader">Users<span class="close hideBar">-</span></div>   
    
</div>
<div id="tabHolder">
   
</div>
<div class="chatBar">
    <div class="user tab tab-mini">
        No Of User online &nbsp;<span class="noUser label lebel-success"></span>
    </div>
    
</div>
