@{
    ViewBag.Title = "Chat";
}
@section scripts { 
    <script src="/Scripts/jquery.cssemoticons.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.4.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/chat/chat.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.min.js"></script>
   
}
<link href="/Content/jquery.cssemoticons.css" rel="stylesheet" />
<link href="/Content/Chat.css" rel="stylesheet" />
<style>
   
</style>
<h2>Chat</h2>

<div id="Users" style="position:fixed;bottom:0;width:160px;height:160px;overflow:scroll">
    <h5>Online Friends</h5>
    
</div>

<div id="tabHolder">
   
</div>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
    width="40"
    height="40"
    id="audio1"
    align="middle">
    <embed src="/content/wavplayer.swf?gui=none&sound=/content/chat.wav"
        bgcolor="#ffffff"
        width="40"
        height="40"
        allowScriptAccess="always"
        type="application/x-shockwave-flash"
        pluginspage="http://www.macromedia.com/go/getflashplayer"
    />
</object>