@{
    ViewBag.Title = "Chat";
}
@section scripts {
    <script src="/Scripts/jquery.signalR-1.1.4.min.js"></script>
    
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/chat/chat.js"></script>
}
<style>
    #tbb {
        width:20%;
        float:left;
        
    }
        #tbb input[type=text] {
            width:100px;
        }
    #msg {
        overflow:scroll;
        height:250px;
        text-decoration:none;
    }
        #msg li {
            text-decoration:none;
            font-size:10px;
            background-color:#4cff00;
        }
    .recived {
        text-decoration:none;
            font-size:10px;
            background-color:#7da8dc!important;
    }
</style>
<h2>Chat</h2>

<div id="Users" style="position:fixed;bottom:0;width:160px;height:160px;overflow:scroll">
    <h5>Online Friends</h5>
    
</div>

<div id="tabHolder">
   
</div>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
    width="40"
    height="40"
    id="audio1"
    align="middle">
    <embed src="/content/wavplayer.swf?gui=none&sound=/content/chat.wav"
        bgcolor="#ffffff"
        width="40"
        height="40"
        allowScriptAccess="always"
        type="application/x-shockwave-flash"
        pluginspage="http://www.macromedia.com/go/getflashplayer"
    />
</object>