 #tbb {
        width: 264px;
        float: left;
        border: 1px solid gray;
        
    }
  #tbb h5 {
            padding: 10px;
            border: 1px solid;
            color: green;
            font-size: 14px;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0px!important;
            line-height: 0!important;
        }

            #tbb h5 .close {
                line-height: 0!important;
            }

        #tbb input[type=text] {
            width: 200px;
        }

    #msg {
        overflow: scroll;
        height: 250px;
        text-decoration: none;
        display: block;
        margin-left: 0px;
    }
       
#msg li{
    padding:5px;
            text-decoration: none;
            text-wrap:normal;
            display: block;
           
        }

    #msg li div {
         margin-top:5px;
            margin-bottom:1px;
    } 
        

.sent {
    padding:2px;
    color:gray;
	position: relative;
	background: #88b7d5;
	border: 0px solid #c2e1f5;
    float:right;
    width:200px;
    text-align:right;
    text-wrap:normal;
    word-wrap:break-word;
}
.sent:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sent:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 5px;
	margin-top: -4px;
}
.sent:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 5px;
	margin-top: -4px;
}

.recive{
     padding:2px;
    color:gray;
	position: relative;
	background: #d5ca6b;
	border: 0px solid #f5f182;
     float:left;
     text-align:left;
    width:200px;
    word-wrap:break-word;
}
.recive:after, .recive:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.recive:after {
	border-color: rgba(213, 202, 107, 0);
	border-right-color: #d5ca6b;
	border-width: 5px;
	margin-top: -4px;
}
.recive:before {
	border-color: rgba(245, 241, 130, 0);
	border-right-color: #f5f182;
	border-width: 5px;
	margin-top: -4px;
}
.tm {
    width:200px!important;
    margin-bottom:0px!important;

}
.send {
padding-top: 12px;
padding-bottom: 12px;
/*content:url('/content/send.png');*/
}
.chatBar {
    position:fixed;
    left:0;
    bottom:0px;
    height:30px;
    width:100%;
    z-index:2000;
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border:1px groove rgba(128, 125, 125, 0.53);

}
.user {
    margin-left:19px;
    width:150px;
    float:left;
}

.tab {
    cursor:pointer;
    height:30px;
    border-left:1px inset gray;
    border-right:1px inset gray;
    padding-left:10px;
    padding-top:5px;
}
#Users {
    border:1px inset gray;
    position:fixed;
    bottom:31px;
    width:160px;
    min-height:100px;
    /*height:160px;
    overflow:scroll;*/
    background: rgb(233,246,253); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 0%, rgba(211,238,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(233,246,253,1)), color-stop(100%,rgba(211,238,251,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#Users ul {
        margin-left: 0px!important;
        list-style:none;
        padding-left:0px!important;

    }
#Users ul li {
            padding:2px;
            margin-left:0px!important;
            cursor:pointer;
            
            border-bottom:1px inset gray;
        }
.listHeader {
    padding-right:9px;
    padding-left:10px;
    height:20px;
    background:rgba(50, 112, 224, 0.78);
}


/*! perfect-scrollbar - v0.4.5
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2013 HyeonJe Jun; Licensed MIT */

.ps-container .ps-scrollbar-x-rail{display:none;position:absolute;bottom:3px;height:8px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail{opacity:.6;filter:alpha(opacity=60)}.ps-container .ps-scrollbar-x-rail:hover,.ps-container .ps-scrollbar-x-rail.hover{background-color:#eee;opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-x-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-y-rail{position:absolute;right:3px;width:8px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail{opacity:.6;filter:alpha(opacity=60)}.ps-container .ps-scrollbar-y-rail:hover,.ps-container .ps-scrollbar-y-rail.hover{/*background-color:#eee;opacity:.9;filter:alpha(opacity=90)*/}.ps-container .ps-scrollbar-y-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-x{position:absolute;bottom:0;height:8px;background-color:#aaa;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}.ps-container.ie6 .ps-scrollbar-x{font-size:0}.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x{background-color:#999}.ps-container .ps-scrollbar-y{position:absolute;right:0;width:8px;background-color:#aaa;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}.ps-container.ie .ps-scrollbar-y{font-size:0}.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y{/*background-color:#999*/}